body {
padding: 5px;
margin: 10px;
}


header {
display: block;
background-color: #c2c2a3;
padding-top: 5px;
height: 175px;
font-size: 75%;
background-image: url('../Images/flywheel.jpg') ; 
}

h1{
color:#FFFFFF;
text-transform: uppercase;
text-align: center;
}


nav a{
display: inline-block;
text-align: center;
text-decoration: none;
height: 35px;
padding-top: 15px;;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border: 2px solid #FFFFFF;
font-weight: 900;
font-variant: small-caps;
font-size: 155%;
width:20%;
margin: 10px;
}

nav a:link {
 color:#000000;
  background: #FFFFFF;
  opacity: 0.5;
}

nav a:visited {
 color:#000000;
  background: #FFFFFF;
  opacity: 0.5;
}


nav a:hover {
   color:#000000;
   background: #FFFFFF;
   opacity: 1.0;
   font-style: italic;
   text-decoration: none;
   border: 4px solid #3366cc;
   border-radius: 55%;
   -webkit-border-radius: 55%;
   -moz-border-radius: 55%;
   -o-border-radius: 55%;   	
}

nav a.active {
  color: #006600;
  background-color: #FFFFFF;
  opacity: 1.0;
  text-decoration: none;

}

aside {
float: left;
margin: 0px 2px 2px 0px;
padding: 20px;
display: inline-block;
width: 20%; max-width: 155px;
height: 70vh;
background-color: #3366cc;
}
 
img {
display: block;
/*box-shadow: 5px 5px gray;*/
height: 15%;
width: 90%;
border: 2px solid #000000;
margin: 15px 3px

}

section {
float: left;
display: inline-block;
width: 72%; max-width: 800px;
margin: 5px;
padding: 5px;
}

section a {
text-decoration: none;
color:#3366cc;
font-weight: 1000;
}

h2 {
font-variant: small-caps;
}


table {
width: 85%; 
table-layout: auto;
font-family: "Arial Narrow";
margin: 0 auto;
/*cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAaCAYAAADrCT9ZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAF62lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDIgNzkuMTYwOTI0LCAyMDE3LzA3LzEzLTAxOjA2OjM5ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKFdpbmRvd3MpIiB4bXA6Q3JlYXRlRGF0ZT0iMjAxOS0wNS0yMlQxNDo1NTozMS0wNDowMCIgeG1wOk1vZGlmeURhdGU9IjIwMTktMDUtMjJUMTU6MDU6NDEtMDQ6MDAiIHhtcDpNZXRhZGF0YURhdGU9IjIwMTktMDUtMjJUMTU6MDU6NDEtMDQ6MDAiIGRjOmZvcm1hdD0iaW1hZ2UvcG5nIiBwaG90b3Nob3A6Q29sb3JNb2RlPSIzIiBwaG90b3Nob3A6SUNDUHJvZmlsZT0ic1JHQiBJRUM2MTk2Ni0yLjEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzhlN2IzZWMtNzAwYi1hYTQxLTg3NWEtODA0N2IxMjJjMmI2IiB4bXBNTTpEb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6MWZjOTgyNzktYzNkMC1hZTRhLTk3NmYtMTdhYmJmOTNkZDU2IiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6NzE5ODM3YzEtMjVmZi03MTQ5LTg0YzQtZTI4NjQxY2FmNDExIj4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo3MTk4MzdjMS0yNWZmLTcxNDktODRjNC1lMjg2NDFjYWY0MTEiIHN0RXZ0OndoZW49IjIwMTktMDUtMjJUMTQ6NTU6MzEtMDQ6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAoV2luZG93cykiLz4gPHJkZjpsaSBzdEV2dDphY3Rpb249InNhdmVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOjc4ZTdiM2VjLTcwMGItYWE0MS04NzVhLTgwNDdiMTIyYzJiNiIgc3RFdnQ6d2hlbj0iMjAxOS0wNS0yMlQxNTowNTo0MS0wNDowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7qgWgaAAANRklEQVRYhdVYfWyU1Z5+znm/5qMznbbTAaYwFAoF2kUBy5pQXOnV1ehdMMYYlWSzfl0SozEBjTEG2ET/2ERMjCZXEqOyYTckgokxJstld+3ezZUqK2ALpS3TD1rKTDtlmOl8vfO+7/naP+x04bp34426d/f5azIzOec8v/N7nt/zvqSvrw+EEFQqFUgpAQBKKcRiMXzzzTfYs2cPfmps3boVn3zyCWZmZuC6LgBASgnGGADANE1omgZN05DP50EpRX19PRhj4JzD5/PBsiwopTTXdRXnnEopoZTimqbBMAxTCEEcx6GEECWlZIZhCKUU9J+czQ8AIWSR5O9DKQUAZOF3dRM5QinVdV2H4zia4zjSMAyPUgoppUYI8SmllOu6IISUCSFQSmmGYZic8zClVAghin8SwrquI5FIQClF5ubmCOcc1WoVhBAJAIQQBYAKISxd101CiHJdt2oYBqOUghBiCiEs13UjpmlWAZQ0TWOUUsPzvHrXdZuUUhlCiCOEqJqm6bquu5QQYtA/BeG+vj48/fTTSKVSynEcWV9fr9atW6fF4/E6v98fEUJEHMchQghHSulVq1Wdc77McZw2zrmulKroul4A4Liuu4QQsoYQAiEEo5RmCSHzAFYTQvwLW0opZRqA7+e64RYAy4PB4NJoNBoNhUIh13UDABCJRJxyuZw/cuTI7JEjRyYAXG5paVG7du1i3d3dbNu2bUEhRCSZTLZomlY2TXNK0zQHQFEptVwptY0xNqKUmtM0rUgpLTLGNgohNlBKhw3DgOu6BSllMBAILKGUTgohYJompJT2T0V49YYNGx7csmVLV0tLS1dra+v6+vp6zXVdSClBCEEikUB9fT3GxsbAOcfq1atx4cIFnDp16vJnn332z4cPH/788OHD/3LPPfdUXnjhhUpXV1ducnJyvW3bCaXU7zjnwu/3T0kpy0qpu3Rd71NKzQGAlPKiUmorIaQBQN40TRBCZhljHYwxgxDCAIAQIsmPcOlYc3Pz3+zcufOvHnjggb9oa2tDLBYDYwye50FKCdu2ce3aNQwPD8Pv9+O+++5DtVrFqVOnYFkWHnvsMcTjcQwPD+Po0aN4//33T+VyuRcBJPft24fnnnsOmUxmR7lcDnie909+vx+GYUAI0UYpXanrem/NuQkhnQDqAJxZIAcp5SbXdZOUUlvXdWiaVqc988wzIISAMVZzSABAMBhEOp3G559//vtEN3Z3dx/YuXPn37/44ou/fPbZZ1eGQiFks1nMzMwgn8+jUCigXC7D87zFMZJMJnHjxg3cfffdWLlyJb744gsMDAwgEomgs7MTmzZtQkdHx5qpqak96XT6t1999dVVIQTuvffeyfn5+Tvq6uq4pmlZz/PAGMsTQm7XNO0GAFspBULIMkJIEyFkQggBKaUBQGqalrcsC7qua4yxP2xaSilomnbzV4kdO3Ycfffddy/s37//he3btwdbW1uRzWYxOTkJzjkWqghd10EpRbVaRbVaRaFQgFIKpmnixo0baG5uRnt7OyqVCpLJJNLpNHw+H+LxOF555RWrs7PzdwDWvPfee+jv70dTU9PVarXaVSgUIISArutQStmO40RrshFCVKSU12r7WJYVpJR6QghwzqGUMjnn7n9LmDGGaDRKQqEQAKCtre2lQ4cOjR08ePCvH3zwQQwMDKBSqSCTyWB+fh51dXWotZFSCowxlEollMtlzM/PY2xsDE1NTWhvb0dzczOKxSJs24amaSCEIJ/PAwB8Ph+UUnjkkUdgGMZrAPD111+jsbHxilIqo5SqkYOUUnqeN78QOEApdQ3DuGpZFoLBIFVKmUqpkq7r4Jz7lFIqGAyy75kW5xxr167VpqenxfPPPx/p6ek5/s477/zl4OAgmpubMT4+jkwmg8bGRhSLRZRKJViWBU3TFg/jeR5s20Ymk8Hc3Bzi8Ti2bNmC9vZ2KKVw8eJFzMzMIBwOIxQKgVIKXddBCEEul0NLSwva29s3X7p0CZ7ngRASMAxDW3BacM4DlNIbPp9vtqZAxhgRQlQW/hMulUolzjkLBoOGZVmCUsoIIbcmLc45Ojo6jIGBAfbQQw+t3rZt27/39vYu/+ijj2DbNtasWYN0Oo1oNIrh4WHEYjGEw2Ho+nfLCCFQLpdRqVTgui4sy8KmTZuwatUqaJqGXC6HoaEhnDt3DtVqFZs3b0YkEkEikYAQAoVCAa7rIhAIwDRNHQDC4TAYY2FN00q1olqWtdRxnLmFWEn8fn/INM0527bBOTd9Pl/V5/O5SilD13UFgNf8SSeEgBACzjlZs2ZNfV9f3/zu3bsbOzo6zp8+fbr+8uXL+Pbbb9HV1QWlFNauXQvXdXH16lVks1nMzc0tFozS7xQSiUQQjUYRj8cRCARqGsLExAT6+/sxOzuLLVu2YNWqVUgkEjBNE+Pj48hms2CMwbZtjI2NTQDAbbfdBsdxBIBvF/RoLWTuzIJXhAkhRU3TXMuyDEKIUEoJQohhmqaQ32HRj3SlFIQQiMfjsVQqVdy9ezcIIf968uTJeiEERkZGYFkWUqkUxsbGsGHDBui6jmg0unibQggQQqDrOoLBIAKBwKKea6YxPT2N/v5+eJ6H7u5utLa2wjAMeJ6HoaGhRZePRqP48ssvUSqV/nHz5s248847l01OTgrGmF2pVEg4HI6apjnrui43DCMAwHMcp0oIMQghklIqGGMEAKuZ783QHceBruvLgsGgePzxx6sAnn3ttdc2L126FHNzcwgGg4jH4xgbG6sdBLFYDLquw+fz3WJYtQ2UUnBdF47j4Pr160gmk8jlcojH47jjjjvQ2NiIcrkMx3Fg2zaEEJiamlqU1ccff/wNgBMvv/yyUSwWw7quJznnkFLWG4ZR0DTNppRalUqFKaWYrusaIYR/t70CgFtZ3kyYMda0du3a6MmTJy8ODQ1hxYoVf9vV1YVsNotAIABN07Bu3TrYto3+/n6k02kkEglEo1H4fL7FNq65s+M4KJVKyGazyGQykFKiubkZO3bswMqVK5HP5zE6OopwOIyGhgYwxjA6Oor5+Xm0trbijTfeYKVSadfevXuxffv2poGBgelgMMiUUoGGhgaHc+64rmtQSpmUUi50kvhDBL9HWCm10rbtmaNHjwLAn3V1dS0nhCCTyWDjxo1oaWnB9PQ0tm7diubmZqRSKVy8eBGapi0WZMEDIKXEwuMZotEo2tvbEY/HsWTJEti2jXPnzmFubg6rVq1CQ0MDbNvG8PAwhBBIJBJ46623MDg4uH3fvn2ze/fujSSTyYKu61WlVFDTNI9SyjzP02rtWvOfPwZ6MBik165dmxkcHASA1kAggHK5jKtXryIWi6G9vR2hUAjpdBp1dXVoa2tDPp9HpVIB53wxoem6Dr/fD7/fj1AohNoMz+VyOHv2LK5fvw6/34+NGzeisbERqVQKk5OTaGxshBACBw8erI6Oju44dOjQf+zevbsumUx6nHNH13WDMWbX19crzjk458IwjD+K5C2ENU1bAeDsQmuemZ6eBuccU1NTCAaDcF13sf1SqRQIIYjFYhBCLBKttTXnHI7jIJ/PY3x8HOVyGVJKhEIhdHZ2IhKJoFKpoL+/H1JKtLS04Pz583j77bf/LRKJ/OrEiRPjd911V+DMmTMOpZTX1dVpjDFWM8Darf4Y6I7j6CtWrMD69evR19d3va+v79P777//4VgshgsXLqBQKCAWi8E0TQCApmkolUqLuRn4r3FU+2wYBoLBIGKxGPx+PyilKBaLGBoaghACTU1NyGazOHLkCO/t7X35iSeeeOell15CJBLRBgcHbSllbbb/YG3+YMKe5zmu61pPPfWU29fXB875ng8++KDn1VdfjUQiEUxMTCCbzaKxsRGhUAg+nw+hUAimaWLJkiXwPA8L4f2WHK2UQqVSQTqdhm3bME0TdXV1mJ2dxaeffore3t4Pi8Xi3z366KPjx44dw9mzZ2kymRR+v/9H3+L/SJhSaqdSqV/09PScPHjwIF5//fXslStXNh04cOD4k08++efr1q2DUgqzs7NIp9OL48iyLBiGsThvOefwPG/x0RBALeSDMYbLly/j/PnzswMDA//gOM4RAMMAEIvFkMvlUCgUZC2x/ZzQDcPo5Zz/cnp6esuePXvOL1++HAcOHJjKZDJ3vvnmm8+vX7/+V93d3bcvW7ZssbWVUnAcp/YeanGxWsjI5XLI5/PIZrMYGRkZHxsbO5PP548D+A0A9+YDOI4DxtjPequ3ECaEKMMwfsMY237p0qXbe3p6kseOHaseP34cJ06c+PXIyMivR0ZGfgHg7kAg0NnS0rIpHA4nmpqaDL/fXwvzcF2X27adyefzg9euXZuoVCqXAZwFcPp/hckPhL6gP04p/S2A1vHx8URDQ0Nx//79pYcfftgeHh6WV65c6T19+nTv6OgoRkdHAWAJgAYA5sI6LoAigAyA7797/T+EW0RDCJk0DIPm8/lwoVDwhcNhc9euXdVwOOxdv36dlMtlIaVU1Wo1c+bMmcyHH35YK8D/G/wnl0hQXmuJTqAAAAAASUVORK5CYII=) , auto ; */
 
cursor: url('../Images/frisbee.cur') , auto ; 
cursor: url('Images/frisbee.cur') , auto ;
}

th {
font-family: "Impact";
line-height: 125%;
color: #191919;
border: 1px solid white;
background-image: linear-gradient(#6de898, #6298ef);
padding-top: 10px;
padding-bottom: 15px;
border-radius: 5px 5px 0px 0px;
opacity: 1;
}

td {
text-align: center;
font-color: #0e1b6b;
border: .5px solid white;
border-radius: 2px;
background: #d6e0f5;
padding-top: 3px;
padding-bottom: 3px;
}


tr {
opacity: .7;
transition-property: opacity, color;
transition-duration; .3s;

}


tr:not(:first-child):hover {
font-family: "Arial";
line-height: 150%;
color: #3366cc;
opacity: 1.0;
text-shadow: 2px 2px 5px #67af88;
}


tr>:nth-child(1) {
text-align: left;
width: 50%;
}

tr>:nth-child(2) {
width: 30%
}






